.twitter{
    top: 10px;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 35px;
    color: rgb(29, 155, 240);
    padding: 10px;
    width: 50px;
    height: 50px;
}
.twitter :hover{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f7f9f9;
    border-radius: 55px;
    padding: 10px;
    cursor: pointer;
}
.home-wrapper{
    display: inline-block;
    margin-bottom: 5px;
    cursor: pointer;
    padding: 10px;
}
.home-wrapper:hover{
    background-color: #f7f9f9;
    border-radius: 55px;
    padding-right: 20px;
}
.house-img{
    font-size: 18px;
}
.side-text {
    font-size: 22px;
    margin: 0px;
    font-weight: 400;
    padding-left: 15px;
}

.button-clr{
    background-color: rgb(29, 155, 240);
    border: none;
}

.logo{
    width: 45px;
    height: 45px;
    border-radius: 50px;
    background-color: red;
}
.profile{
    font-size: 15px;
    font-weight: 500;
    color: black;
}
.email{
    font-size: 15px;
    font-weight: 500;
    color: gray;
}

.user-logo{
    font-size: 25px;
    background: #ccd6dd;
    padding: 10px;
    height: 45px;
    width: 45px;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #657786;
}

