.search-main-box{
    width: 100%;
    background: #f7f9f9;
    border-radius: 20px;
    padding: 20px 0px 0px 0px;
}
.follow{
    font-size: 22px;
    font-weight: 900;
    color: #0f1419; 
    padding: 0px 15px;
}
.shiba-img{
    width: 50px;
    height: 50px;
    background: red;
    margin-right: 10px;
    border-radius: 50px;
}
.shiba-title{
    margin: 0px;
    font-size: 15px;
    line-height: 20px;
    font-weight: 700;
    color: #0f1419;
}
.shiba-email{
    margin: 0px;
    font-size: 15px;
    line-height: 20px;
    font-weight: 400;
    color: #536471;
}
.follow-btn{
    padding: 6px 20px;
    color: white;
    background-color: rgb(15, 20, 25);
    border-radius: 50px;
    font-weight: 500;
    font-size: 17px;
    align-items: center;
}

.shiba-profile{
    padding: 15px 15px;
    cursor: pointer;
}
.shiba-profile:hover{
    background-color: #ecf4f4;
}

.show-more {
    font-size: 15px;
    font-weight: 500;
    margin: 0px;
    color: #2aa1f1;
}
.show-more:hover{
    border-radius: 0px 30px 30px 0px;
}